<div class="nav">

    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav_title"><img src="C:\Users\promact\Desktop\Tasks\Week 3\Day 6\ECommerceApp\src\app\Components\navigation-bar\Aesthetic Elegant Simple Cosmetic Brand Logo.png" /></a>
    <a routerLink="/whats-new" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav_title">Whats New</a>
    <a routerLink="/deals" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav_title">Deals</a>


</div>
<router-outlet></router-outlet>